body{
    background-color: lightgrey;
}
h1{
    text-align: center;
}
.child1{
    width: 50%;
    float: left;
}
.img{
    width: 50%;
    float: right;
  
}
img{
   margin-left: 180px;
   height: 80%;
   width: 70%;
    height: 300px;
}
.main_profile{
    margin-top: 100px;
}
